@charset "UTF-8";
/* ================= */
/* === Variables === */
/* ================= */
/* $colorBanner : rgba(19, 22, 104, 0.22) ;
 */
/* $colorCatchBack : rgba(63, 64, 93, 1) ;
 */
/* ============= */
/* === Fonts === */
/* ============= */
/* wallpoet-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Wallpoet";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/wallpoet-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* platypi-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Platypi";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/platypi-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* risque-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Risque";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/risque-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ================= */
/* === Variables === */
/* ================= */
/* ================== */
/* === Généralité === */
/* ================== */
* {
  margin: 0; /* Reset html */
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #504e44;
  color: rgba(183, 133, 38, 0.639);
  text-shadow: 1px 1px black;
  font-family: "Platypi";
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* ======||===== */
/* === Index === */
/* ======||===== */
/* === Header === */
#catch {
  display: flex;
  position: fixed;
  right: 8%;
  align-items: right;
  justify-content: end;
  text-shadow: 1px 1px black;
  z-index: 100;
}
#catch p {
  border-radius: 0 0 12px 12px;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  -ms-border-radius: 0 0 12px 12px;
  -o-border-radius: 0 0 12px 12px;
  justify-content: end;
  align-items: start;
  background-color: #3f405d;
  display: flex;
  padding: 4px 8px;
  margin: 0 24px 0 0px;
}
#catch p .num {
  color: white;
  padding-right: 4px;
}
#catch p .num:hover {
  text-shadow: 2px 2px 2px rgb(183, 132, 38);
  color: white;
}

#head {
  display: flex;
  font-family: "Risque";
  background-color: #3f405d;
  text-shadow: 1px 1px black;
  padding: 24px 0 24px 0;
  justify-content: space-evenly;
  border-radius: 0 0 24px 24px;
  -webkit-border-radius: 0 0 24px 24px;
  -moz-border-radius: 0 0 24px 24px;
  -ms-border-radius: 0 0 24px 24px;
  -o-border-radius: 0 0 24px 24px;
  width: 100%;
}
#head ul {
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 2rem;
}
#head ul .hiddenDesk {
  display: none;
}
#head ul a {
  color: white;
}
#head ul a:hover {
  text-shadow: 2px 2px 2px rgb(183, 132, 38);
  color: white;
}

#logo {
  width: 15%;
  display: flex;
  font-family: "Wallpoet";
  font-size: 1.8rem;
  margin-left: 10%;
}
#logo img {
  border: 1px solid rgb(183, 132, 38);
  max-width: 192px;
  max-height: 192px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-right: 16px;
}
#logo p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navMain {
  width: 65%;
  margin-right: 10%;
  font-size: 2rem;
  align-items: end;
  justify-content: end;
  display: flex;
}
#navMain .on {
  font-size: 3rem;
  text-decoration: underline;
}

/* ============= */
/* === Main ==== */
/* ============= */
#container {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1600px;
  width: 100%;
}

/* === Slider === */
#sliders {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
#sliders h1 {
  font-size: 3rem;
  font-family: "Wallpoet";
  text-align: center;
  margin-bottom: 16px;
}
#sliders a:hover {
  text-shadow: 2px 2px 2px rgb(183, 132, 38);
  color: white;
}
#sliders slider1, #sliders slider2 {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  width: 50%;
}
#sliders #wrapper {
  height: 480px;
  overflow: hidden;
  min-width: 100%;
}
#sliders #wrapper .slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50%;
}
#sliders #wrapper .slider-wrapper .nivoSlider {
  border: 1px solid rgba(183, 133, 38, 0.639);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#sliders #wrapper .slider-wrapper .nivoSlider img {
  min-height: 480px;
  max-height: 480px;
}

/* === Presentation === */
#summ {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#summ h3 {
  margin-bottom: 16px;
  font-family: "Risque";
  font-size: 3rem;
}

#blockPresentation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
#blockPresentation img {
  height: 480px;
  width: 640px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border: 1px solid rgba(183, 133, 38, 0.639);
}

#presentation {
  background-color: rgba(183, 133, 38, 0.11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 480px;
  width: 100%;
  padding-left: 24px;
  overflow: scroll;
  max-height: 480px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border: 1px solid rgba(183, 133, 38, 0.639);
}
#presentation p {
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.4rem;
  text-justify: auto;
  text-indent: 8%;
  line-height: auto;
  margin: 8px;
}

/* === Google Avis === */
#googleReview {
  margin-top: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

/* === Allskills === */
#allSkills {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
#allSkills h4 {
  font-size: 3rem;
  font-family: "Risque";
  margin-bottom: 16px;
}
#allSkills #skill {
  display: flex;
}
#allSkills #skill .skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#allSkills #skill .skills img {
  border: 1px solid rgba(183, 133, 38, 0.639);
  background-color: rgba(183, 133, 38, 0.11);
  padding: 8px;
  border-radius: 16px;
  height: 64px;
  width: 64px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#allSkills #skill .skills img:hover {
  background-color: rgb(183, 132, 38);
  box-shadow: 0 0 20px 2px rgb(183, 132, 38);
  color: white;
}

/* === Contact === */
#contact {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 48px;
  margin-bottom: 16px;
  margin-top: 16px;
  box-sizing: border-box;
}
#contact img {
  max-height: 240px;
}
#contact h5 {
  font-family: "Risque";
  font-size: 2rem;
  text-align: center;
  padding: 8px;
}
#contact #phone {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(183, 133, 38, 0.639);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: rgba(183, 133, 38, 0.11);
}
#contact #phone img {
  padding-left: 16px;
  border-radius: 24px 24px 24px 0;
  -webkit-border-radius: 24px 24px 24px 0;
  -moz-border-radius: 24px 24px 24px 0;
  -ms-border-radius: 24px 24px 24px 0;
  -o-border-radius: 24px 24px 24px 0;
}
#contact #phone:hover {
  background-color: rgb(183, 132, 38);
  box-shadow: 0 0 20px 2px rgb(183, 132, 38);
  color: white;
}
#contact #devis {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(183, 133, 38, 0.639);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background-color: rgba(183, 133, 38, 0.11);
}
#contact #devis img {
  padding-right: 16px;
  border-radius: 24px 24px 0 24px;
  -webkit-border-radius: 24px 24px 0 24px;
  -moz-border-radius: 24px 24px 0 24px;
  -ms-border-radius: 24px 24px 0 24px;
  -o-border-radius: 24px 24px 0 24px;
}
#contact #devis:hover {
  background-color: rgb(183, 132, 38);
  box-shadow: 0 0 20px 2px rgb(183, 132, 38);
  color: white;
}

/* ============= */
/* === Footer == */
/* ============= */
#foot {
  font-family: "Platypi";
  background-color: #3f405d;
  text-shadow: 1px 1px black;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 24px 24px 0 0;
  -webkit-border-radius: 24px 24px 0 0;
  -moz-border-radius: 24px 24px 0 0;
  -ms-border-radius: 24px 24px 0 0;
  -o-border-radius: 24px 24px 0 0;
}

#blockFoot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 8px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: 90%;
  box-sizing: border-box;
}

#enterprise {
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
}
#enterprise h6 {
  font-family: "Wallpoet";
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-size: 1.5rem;
}
#enterprise h6 .siret {
  font-size: 0.7rem;
}
#enterprise img {
  box-sizing: border-box;
  border: 1px solid rgb(183, 132, 38);
  width: 192px;
  height: 192px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

#infos {
  width: 33%;
  text-align: center;
  font-size: 1.5rem;
}
#infos h6 {
  font-size: 2rem;
  font-family: "Risque";
}
#infos p {
  color: white;
}
#infos p .numFooter {
  font-size: 2rem;
  font-weight: bolder;
}

#map {
  width: 30%;
  height: 30%;
  justify-content: center;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#map iframe {
  border: 1px solid rgb(183, 132, 38);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  margin: 10%;
}

#legals {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: white;
}
#legals a {
  text-decoration: none;
  color: white;
}

#remontada {
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 100;
}
#remontada i {
  border: 1px solid rgb(183, 132, 38);
  color: white;
  font-size: 2rem;
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  background-color: rgba(183, 133, 38, 0.639);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
#remontada i:hover {
  background-color: rgb(183, 132, 38);
  box-shadow: 0 0 20px 2px rgb(183, 132, 38);
}

/* =========================== */
/* === Media queries 600px === */
/* =========================== */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  body #container #sliders #wrapper .slider-wrapper.theme-default .nivo-controlNav {
    display: none;
  }
  .hiddenMobile {
    display: none;
  }
  .hiddenDesk {
    display: unset;
  }
  /* ============== */
  /* === Header === */
  /* ============== */
  #catch {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    position: fixed;
    max-width: 100%;
  }
  /* ============= */
  /* === Main ==== */
  /* ============= */
  /* === Slider === */
  /* === Presentation === */
  /* === Google Avis === */
  /* === Allskills === */
  /* === Contact === */
  /* ============= */
  /* === Footer == */
  /* ============= */
}

/*# sourceMappingURL=style.css.map */
