/* $colorBanner : rgba(19, 22, 104, 0.22) ;
 */
$colorBanner : #3f405d ;

$colorBody : rgb(80, 78, 68);

$colorMain :rgba(183, 133, 38, 0.639) ;

$colorMainHover : rgb(183, 132, 38);

$colorBack : rgba(183, 133, 38, 0.11) ;

/* $colorCatchBack : rgba(63, 64, 93, 1) ;
 */
$colorCatchBack :  #3f405d ;
