/* $colorBanner : rgba(19, 22, 104, 0.22) ;
 */
$colorBanner : rgba(63, 64, 93, 1) ;

$colorBody : #504e44;

$colorMain :rgba(183, 133, 38, 0.639) ;

$colorMainHover : rgb(183, 132, 38);

$colorBack : rgba(183, 133, 38, 0.11) ;

/* $colorCatchBack : rgba(63, 64, 93, 1) ;
 */
$colorCatchBack :  rgba(19, 22, 104, 0.22) ;
