/* ================= */
/* === Variables === */
/* ================= */
@use "color" ;
@use "fonts" ;
@use "mixin" ;


/* ================== */
/* === Généralité === */
/* ================== */
*{
    margin: 0;  /* Reset html */
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: color.$colorBody ;
    color: color.$colorMain;
    text-shadow: 1px 1px black;
    font-family: fonts.$fontBody;
    height: 100%;
    width: 100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* ======||===== */
/* === Index === */
/* ======||===== */

/* === Header === */

#catch {
    display: flex;
    position: fixed;
    right: 8%;
    align-items: right;
    justify-content: end;
    text-shadow: 1px 1px black;
    z-index: 100;
    
    opacity: 0;
    pointer-events: none;
    
    p{
        border-radius:0 0 12px 12px ;
        -webkit-border-radius:0 0 12px 12px ;
        -moz-border-radius:0 0 12px 12px ;
        -ms-border-radius:0 0 12px 12px ;
        -o-border-radius:0 0 12px 12px ;
        justify-content: end;
        align-items: start;
        background-color: color.$colorCatchBack;
        display: flex;
        padding: 4px 8px;
        margin: 0 24px 0 0px;
        .num{
            color: white;
            padding-right: 4px;
            &:hover{
                @include mixin.linkHover() ;
            }
        }
}
}
#catch.visible{
    opacity: 1;
    pointer-events: auto;
}


#head{
    background-color: color.$colorBanner;
    padding-left: 10%;
    padding-right: 10%;
}

#grpHead {
    display: flex;
    justify-content: space-between;
    font-family: fonts.$fontTittle;
    text-shadow: 1px 1px black;
    padding: 24px 0 24px 0 ;
    box-sizing: border-box;
    border-radius: 0 0 24px 24px;
    -webkit-border-radius: 0 0 24px 24px;
    -moz-border-radius: 0 0 24px 24px;
    -ms-border-radius: 0 0 24px 24px;
    -o-border-radius: 0 0 24px 24px;
    width: 100%;
    a{
       padding-left: 16px;
       color: white;
       &:hover{
           @include mixin.linkHover();
        }
    }
    ul{
        display: flex;
        justify-content: space-around;
        align-items: end;
    box-sizing: content-box;
    }
}


#logo {
    width: 50%;
    display: flex;
    font-family: fonts.$fontMajor;
    font-size: 1.8rem;
    box-sizing: border-box;
    img {
        border: 1px solid color.$colorMainHover;
        max-width: 192px;
        max-height: 192px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        margin-right: 16px;
        box-sizing: content-box;
    }
    p{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        box-sizing: content-box;
    }
}

#navMain{
    width: 50%;
    font-size: 2rem;
    align-items: end;
    justify-items: end;
    justify-content: end;
    justify-self: end;
    display: flex;
    box-sizing: content-box;
    .on{
        font-size: 3rem;
        text-decoration: underline;
    }
    #burger{
        display: none;
    }
}

/* ============= */
/* === Main ==== */
/* ============= */

#container{
    
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/* === Slider === */

#sliders{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    h1{
        font-size: 3rem;
        font-family: fonts.$fontMajor;
        text-align: center;
        margin-bottom: 16px;
    }
    a:hover{
        @include mixin.linkHover();
    }
    slider1, slider2{
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }
    
    #wrapper{
        height: 480px;
        overflow: hidden;
        min-width: 100% ;
        
        .slider-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 45%;
            gap: 16px;
            .nivoSlider{
                border: 1px solid color.$colorMain;
                border-radius: 24px;
                -webkit-border-radius: 24px;
                -moz-border-radius: 24px;
                -ms-border-radius: 24px;
                -o-border-radius: 24px;
                img{
                    min-height: 480px;
                    max-height: 480px;
                }
            }
        }
    }
}
    body{
        width: 100%;
        #container{
            #sliders{
                #wrapper{
                    .slider-wrapper.theme-default{
                        .nivo-controlNav{
                            display: none;
                        }
                    }
                }
            }
        }
    }

/* === Presentation === */

#summ{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        margin-bottom: 16px;
        font-family: fonts.$fontTittle;
        font-size: 3rem;
    }
    
}

#blockPresentation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;

    img{
        height: 480px;
        width: 640px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        border: 1px solid color.$colorMain;

}

}

#presentation{
    background-color: color.$colorBack;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 480px;
    width: 100%;
    padding-left: 24px;
    overflow: scroll;
    max-height: 480px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border: 1px solid color.$colorMain;

    p{
        color: white;
        text-shadow: 1px 1px black;
        font-size: 1.4rem;
        text-justify: auto;
        text-indent: 8%;
        line-height: auto;
        margin: 8px;
    }
}

/* === Google Avis === */

#googleReview{

    padding-top: 16px;
    
    padding-bottom: 16px;
}

/* === Allskills === */

#allSkills{

    margin-top: 16px;
    margin-bottom: 16px;

    h4{
        text-align: center;
        box-sizing: content-box;
        font-size: 3rem;
        font-family: fonts.$fontTittle;
        margin-bottom: 16px;
    }
    #skill{
        display: flex;
        .skills{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            img{
                border: 1px solid color.$colorMain;
                background-color: color.$colorBack;
                padding: 8px;
                border-radius: 16px;
                height: 64px;
                width: 64px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
                &:hover{
                    @include mixin.Hover();
                }
}

        }
    }
}

/* === Contact === */

#contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; 
    margin-top: 16px;
    box-sizing: border-box;
    gap: 16px;
    img{
        max-height: 320px;
    }
    h5{
        font-family: fonts.$fontTittle;
        font-size: 2rem;
        text-align: center;
        padding: 16px;
        width: 70%;
        box-sizing: content-box;

    }
    #phone{
        height: 280px;
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid color.$colorMain;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        background-color: color.$colorBack;

        img{
            height: 280px;
            width: 50%;
            min-width: 200px;
            border-radius: 24px 24px 24px 0;
            -webkit-border-radius: 24px 24px 24px 0;
            -moz-border-radius: 24px 24px 24px 0;
            -ms-border-radius: 24px 24px 24px 0;
            -o-border-radius: 24px 24px 24px 0;
        }
        &:hover{
            @include mixin.Hover();
        }
    }

    #devis{
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid color.$colorMain;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        background-color: color.$colorBack;
        img{
            height: 280px;
            width: 50%;
            min-width: 200px;
            border-radius: 24px 24px 0 24px;
            -webkit-border-radius: 24px 24px 0 24px;
            -moz-border-radius: 24px 24px 0 24px;
            -ms-border-radius: 24px 24px 0 24px;
            -o-border-radius: 24px 24px 0 24px;
        }
        &:hover{
            @include mixin.Hover();
        }

    }
}

/* ============= */
/* === Footer == */
/* ============= */

#foot {
    font-family: fonts.$fontBody;
    background-color: color.$colorBanner;
    text-shadow: 1px 1px black;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
}

#blockFoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}

#enterprise{
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;

    h6{
        font-family: fonts.$fontMajor;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        font-size: 1.5rem;
        .siret{
            font-size: 0.7rem;
        }
    }

    img{
        box-sizing: border-box;
        border: 1px solid color.$colorMainHover;
        width: 192px;
        height: 192px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
}
}

#infos{
    width: 33%;
    text-align: center;
    font-size: 1.5rem;
    h6{
        font-size: 2rem;
        font-family: fonts.$fontTittle;
    }
    p{
        color: white;
        .numFooter{
            font-size: 2rem;
            font-weight: bolder;
        }
    }
}

#map {
    width: 30%;
    height: 30%;
    justify-content: center;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    iframe{
        border: 1px solid color.$colorMainHover;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        margin: 10%;
    }
}

#legals{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    a{
        text-decoration: none;
        color: white;

    }
}

#remontada{
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 100;
    i{
        border: 1px solid color.$colorMainHover;
        color: white;
        font-size: 2rem;
        display: flex;
        height: 48px;
        width: 48px;
        align-items: center;
        justify-content: center;
        background-color: color.$colorMain;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;

        &:hover{
            background-color: color.$colorMainHover ;
            box-shadow: 0 0 20px 2px color.$colorMainHover ;
        }
}
}


/* =================================== */
/* === Media queries Index : 600px === */
/* =================================== */

@media screen and (max-width: 600px){
    .hiddenMobile{
        display: none;
    }

    /* ============== */
    /* === Header === */
    /* ============== */

    #catch{
        right: 0;
        position: fixed;
        .num{
            font-size: 1.5rem;
            align-items:center ;
        }
        p{
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }

    #logo {
        img{
            width: 128px;
            height: 128px;
        }
        p{
            font-size: 1rem;
        }
    }
    #head{
        #grpHead{
            #navMain{
                #burger{
                    display: block;
                    padding-left: 8px;
                }
                ul{
                    width: 50%;
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    li:hover{
                        @include mixin.linkHover();
                    }

                }
            }
        }
    }

    /* ============= */
    /* === Main ==== */
    /* ============= */

    /* === Slider === */

    /* === Presentation === */

    /* === Google Avis === */

    /* === Allskills === */

    /* === Contact === */
        #contact {
            #phone {
                display: none;
            }
            #devis{
                flex-direction: column;
                width: 100%;
                font-size: 2rem;
                img{
                    width: 100%;
                }
                h5{
                    width: 100%;

                }
            }
        }
 
    /* ============= */
    /* === Footer == */
    /* ============= */

        #blockFoot{
            flex-direction: column;
            #enterprise{
                width: 100%;
                img{
                    height: 96px;
                    width: 96px;
                }
                h6{
                    font-size: 1rem;
                }
            }
            #infos{
                width: 100%;
                padding-bottom: 8px;
                p{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

            }
        }

        #remontada{
            i{
                height: 32px;
                width: 32px;
                font-size: 1rem;
            }
        }
}
